.form-input-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.form-input-group label {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-input input, .form-input textarea {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 6px;
  padding: 8px 10px;
}

input[type="text"]:focus {
  border: 1px solid #47A1F8 !important;
}

textarea:focus {
  border: 1px solid #47A1F8 !important;
}

.form-input .input-error {
  background: #FFFFFF;
  border: 1px solid #FF3A29;
  border-radius: 6px;
}

.form-input .form-error-message {
  font-family: 'DM Sans', sans-serif;
  min-height: 16px;
  font-size: 12px;
  line-height: 16px;
  color: #FF3A29;
}
