.calendar-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  height: 790px;
  padding-top: 56px;
}

.date-container {
  width: 12%;
  border: 1px solid #E5E5E5;
  padding: 10px;
  margin-top: -1px;
  margin-left: -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-height: 14%;
}

.date-container .date {
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-container .today span {
  background-color: #47A1F8;
  border-radius: 100%;
  padding: 6px 9px;
  color: #FFFFFF;
}

.date-container .day-of-week {
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  opacity: 0.4;
  text-transform: capitalize;
  position: absolute;
  top: -34px;
}

.date-container:nth-child(n+8) .day-of-week{
  display: none;
}

.date-disabled {
  background: #F8F8F8;
}

.date-container .date-render-container {
  width: 100%;
  margin-top: 6px;
}

.date-container .add-event-btn {
  color: #34B53A;
  padding: 4px 8px;
  border-width: 0;
  border-radius: 100%;
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  font-size: 14px;
  font-weight: 900;
  cursor: pointer;
  visibility: hidden;
}

.date-container:hover .add-event-btn {
  visibility: visible;
}
