.layout-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

.layout-container .layout-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding: 0 16px;
}

.layout-topbar .calendar-today-btn {
  background: #47A1F8;
  border: 1px solid #47A1F8;
  border-radius: 6px;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 8px 29px;
  cursor: pointer;
}

.layout-topbar .calendar-add-event-btn {
  background: #47A1F8;
  border: 1px solid #47A1F8;
  border-radius: 6px;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 16px;
}

.layout-topbar .calendar-export-btn {
  background: #FFFFFF;
  border: 1px solid #47A1F8;
  border-radius: 6px;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #47A1F8;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.layout-topbar .calendar-export-btn img {
  height: 17px;
  width: 17px;
  margin-right: 8px;
}

.layout-topbar .settings-icon {
  height: 30px;
  width: 30px;
  object-fit: cover;
  cursor: pointer;
}

.layout-topbar .app-name-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-weight: bold;
  color: #4A5367
}

.layout-container .layout-content {
  flex-grow: 1;
}

.layout-topbar .topbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: #000000;
}

.topbar-content .left-arrow-icon, .topbar-content .right-arrow-icon {
  cursor: pointer;
}

.topbar-content .left-arrow-icon {
  margin-right: 16px;
}

.topbar-content .right-arrow-icon {
  margin-left: 16px;
}

.layout-topbar .topbar-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
